.post-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 50px;
}

.create-title {
    height: 50px;
    width: 1000px;
    max-width: 1000px;
    font-size: 26px;
}

.create-body {
    resize: none;
    font-size: 20px;
    width: 1000px;
    max-width: 1000px;
    margin-right: 26px;
}

.create-button-wrapper {
    display: flex;
    justify-content: right;
    gap: 595px;
    width: 1000px;
}

.button {
    height: 40px;
    width: 200px;
}

.create-name-error {
    position: absolute;
    margin-top: 60px;
    font-size: 18px;
    color: red;
}