.edit-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 65px;
}

.edit-title {
    height: 50px;
    width: 1000px;
    font-size: 26px;
}

.edit-body {
    resize: none;
    font-size: 20px;
    width: 1000px;
    margin-top: 0;
}

.edit-button-wrapper {
    display: flex;
    justify-content: right;
    gap: 595px;
    margin-right: 50px;
}

.button {
    height: 40px;
    width: 160px;
}


