.reg-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 60px;
    margin-left: -25px;
    margin-top: 65px;
}

.text-field {
    height: 30px;
    width: 450px;
    font-size: 22px;
}

.reg-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: right;
}

.button {
    height: 40px;
    width: 120px;
}

.register-success {
    color: green;
    position: absolute;
    margin-right: 100px;
}