.titlecard-wrapper {
    height: 120px;
    width: 400px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    text-align: center;
}